<%= form_for("", url: search_posts_path, method:'get', remote: true, html: { id: 'posts_search', class: ''} ) do |f| %>
  <div class="grid-margin stretch-card" style="margin-top:100px">
    <div class="card">
      <div class="card-body">
        <!--<form class="form-inline">-->
          <div class="form-row">
            <div class="col-md-4">
              <label class="sr-only">Autor</label>
              <%= text_field_tag :author, params[:author], class:"form-control", placeholder:"Buscar por nombre de autor..."%>
            </div>
            <div class="col-md-3">
              <%= date_field_tag :start_date, params[:start_date], class:"form-control",  placeholder:"Fecha Inicio" %>
            </div>
            <div class="col-md-3">
              <%= date_field_tag :end_date, params[:end_date], class:"form-control",  placeholder:"Fecha Fin" %>
            </div>
            <div class="col-md-2" align="center">
              <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <p class="mb-4 text-mute mt-5" align="right">Ordenar Autor por:</p>
    </div>
    <div class="col-4" align="right" >
      <%= select_tag :order_by, options_for_select([['Ascendente', 0],['Descendente',1]]), class:'form-control mb-4 mt-5' %>
    </div>
  </div>
<% end %>
<div class="row">
    <div id="list-posts" class="col-md-12">            
        <%= render partial: "posts" %>
    </div>
</div>

<p style="color: green"><%= notice %></p>

<%= link_to "New post", new_post_path %>